html{
    scroll-behavior: smooth;
}

header{
    background-color: #EDF1F6;
    display: flex;
    justify-content: space-between;

}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF9F0; 
    z-index: 1000; 
}

nav{
   text-align: center;
   padding: 30px 20px 20px 0px;
   position: relative;
}

nav li{
    display:inline;
    padding-right: 20px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

a:hover,
a:focus{
  text-decoration: underline;
  color: #F490B9
}

#icon  {
    animation-name: logoAnimation;
    width: 100px;
    height:80px;
    padding:0 0 0 20px;

}

.container > :first-child {
    background-image: url("../Image/Hello.jpg");
    display:block;
    grid-column: 1 / -1;
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;        
    height: 825px; 
    width: auto;              
  }
.Hello{
    margin: 60px 0px;
}
h1{
    text-align:left;
    padding: 100px 0px 0px 50px;
    font-size: 72px;
  }

.Hello p{
    text-align:left;
    padding: 100px 0px 0px 50px;
    font-size: 40px;
    font-weight:semi-bold;
    color: #ffffff;
  }

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    align-items: center;
  }

h2{
    font-size: 28px;
    padding:0px 0px 10px 0px;
    margin: 0 0 20px;
}  

.about{
    background-color: #fde7f0;
    padding: 100px 60px 100px 60px;; 
    margin:30px 10px 50px 80px; 
    border-radius:5px;        
  }

.about p{
    line-height:1.5;
    text-align:justify;
    font-size: 18px;
    font-weight:regular;
    font-family: "Times New Roman", Times, serif;
    margin: 0 0 15px;
  }

  img{
    display:block;
    width:auto;
    height:450px;
    border-radius: 10px;

    }
    .About-image {
        text-align: center;
      
    }
    
    .About-image img {
        display: inline-block; 
        margin: 0px 80px 25px 20px;
        max-width: 100%; 
        
    }

.SICHONG,
.TRAVO,
.SpadeEsperanza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.SICHONG img,
.TRAVO img,
.SpadeEsperanza img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.SICHONG.text-block,
.TRAVO.text-block,
.SpadeEsperanza.text-block {
    background-color: #fde7f0;
    padding: 60px;
    text-align: center;
}

footer {
    background-color: #FDE9F0;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.Project1 {
    background-color: #FFFAEB;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 100px 20px 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.Project2 {
    background-color:#F4EBE6;
    color: #6B3928;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 100px 20px 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   
}

.Project3 {
    background-color: #FFF4D7;
    color: #BFA160;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 100px 20px 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   
}



.Project1 h2,
.Project2 h2,
.Project3 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Project1 p,
.Project2 p,
.Project3 p {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
}
body{
    background-color:#F7F2EB;
}

.embed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.embed-container embed {
    max-width: 100%;
    max-height: 100%;
}

.slide-in-animation h1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-in-animation p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-in-animation h1,
.slide-in-animation p {
    animation: slideIn 6s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

slide-in-animation h2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.TRAVO img,
.SpadeEsperanza img,
.SICHONG img {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out; 
}

.TRAVO:hover img {
    transform: rotate(10deg); 
}
.SpadeEsperanza:hover img {
    transform: rotate(10deg);
}
.SICHONG:hover img {
    transform: rotate(10deg);
}
